@import 'variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

main,
.main--about {
  .menu--custom {
    a {
      color: $medium-gray;

      &:hover {
        color: #000000;
      }
    }
  }
}

main {
  .navbar--custom,
  .menu--custom {
    background: #ffffff;
  }
}

.main--about {
  .navbar--custom,
  .menu--custom {
    background: $light-blue;
  }
}

.main {
  &--collection,
  &--item {
    .navbar--custom,
    .menu--custom {
      background: $navy-blue;
      color: #ffffff;
    }

    .menu--custom {
      a {
        color: #ffffff;

        &:hover {
          color: $medium-gray;
        }
      }
    }

    .hamburger--custom {
      img {
        filter: invert(100%);
      }
    }

    .login--custom {
      filter: brightness(0) invert(1);
    }
  }
}
